<div class="navbar navbar-default bg-light">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="jumbotron jumbotron-fluid">
  
    
<div class="container">
    <div class="topnav">
<ul class="list-group list-group-horizontal">
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/homepage">home</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/companypage">Company</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/addsector">Sector</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/stockpage">Stock Exchange</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/addipo">IPO</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/login">Logout</a></li>
   
</ul>
</div>
</div>
</div>
</div>
<router-outlet></router-outlet>


<div id="hp">
    
    
    <div class="textContainer" style="float:right; ">
            <h1 style="font-family: 'Cursive'; font-weight: bold; text-align: center; padding-right: 310px;">
                STOCK MARKET CHARTING APPLICATION<br>
            </h1>      
    </div>

    <picture class="imgContainer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg7Jb60Ofkwhoz3FxY7IXNeNf0KhBfqnLEeQ&usqp=CAU" alt="Transaction" width="750px" height="500px"
       style="padding-block: 50px; margin-left: 400px; object-fit: contain;">
    </picture>
    
<router-outlet></router-outlet>
