<div class="navbar navbar-default bg-light">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="jumbotron jumbotron-fluid">
  
    
<div class="container">
    <div class="topnav">
<ul class="list-group list-group-horizontal">
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/homepage">home</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/addStock">Add Stock</a></li>
    <li style="list-style-type: none;"><a class="nav-item nav-link" routerLink="/liststock">List Stock</a></li>
   
</ul>
</div>
</div>
</div>
</div>
<router-outlet></router-outlet>
